$celadon: rgb(110, 173, 115);
$linkColor: #646cff;
$actionColor: rgb(56, 49, 10);

#root {
  margin: 0 0;
  text-align: center;
  font-size: 1.5em;
  height: 100svh;
  width: 100%;
}

.button {
  font-weight: 500;
  color: $linkColor;
  cursor: pointer;
}

.button:hover {
  color: #535bf2;
}

.highlighted {
  background-color: $celadon;
}

.bg-action {
  background-color: $actionColor;
}

.bg-darker {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-background {
  background-color: rgba(30, 30, 30, 0.7);
}

.text-msm {
  font-size: 1rem;
}

.color-red {
  color: rgb(123, 17, 17);
}

.color-red:hover {
  color: rgb(188, 31, 31);
}

.modal-content {
  background-color: $actionColor;
  max-width: 90vw;
}

.animated {
  transition: all .3s ease-in-out;
}

table { 
  border-collapse: separate; 
  border-spacing: 0 10px; 
  margin-top: -10px; /* correct offset on first border spacing if desired */
}

td {
  padding: .25rem;
}
td:first-child {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}
td:last-child {
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
